.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  padding: 10px 20px;
}

.navbar-logo a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
}

.navbar-logo span {
  margin-left: 10px;
}

.navbar-link {
  background-color: #00c300;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.navbar-link {
  background-color: #00c300;
}

.dashboard-link {
  background-color: #0000ff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
